*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
}

body{
    background-color: lightslategray;
}

.container{
    display: flex;
    justify-content: center;
}

.squares{
    background-color: rgb(176, 176, 176);
    height: 30px;
    width: 30px;
    border: 1px black solid;
    flex-shrink: 0;
}